*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to top, rgb(255, 106, 106), rgb(241, 136, 49));
}


main{
    margin: 30px auto;
    padding: 20px;
    width: 650px;
    background: linear-gradient(to bottom, rgb(231, 231, 231), white);
    border-radius: 20px;
    border: white;
    box-shadow: 0px 0px 10px white;
}


header{
    text-align: center;
    padding: 10px;
    font-size: 20pt;
}
header > h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.534);
}
header:hover{
    transition: 0.4s;
    padding: 9px;
    font-size: 21pt;
}


fieldset{
    margin: 10px;
    padding: 30px;
    border: 1px dashed black;
    text-align: center;
}
fieldset > legend{
    color: rgb(99, 85, 85);
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    padding: 5px;
}


p, p > input{
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.205);
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding: 5px;
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
}
p#res{
    margin: 8px auto;
    text-align: center;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.205);
    width: 90%;
    background-color: rgba(0, 0, 0, 0.082);
}


button{
    margin: 10px auto;
    width: 90%;
    font-weight: bold;
    font-size: 15pt;
    padding: 10px;
    background: linear-gradient(to bottom, rgb(255, 106, 106), rgb(241, 136, 49));
    color: white;
    letter-spacing: 2pt;
    text-transform: uppercase;
    text-shadow: 0px 0px 2px white;
    border-radius: 20px;
    border: none;
}
button:hover{
    transition: 0.3s;
    margin: 13px auto;
    font-size: 13pt;
    width: 87%;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 2px rgb(0, 0, 0);
    cursor: pointer;
}

